<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Recipe Form</title>
		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.css">
	</head>
	<body>
		<form  th:object="${recipe}" th:action="@{/recipe/}"  method="post">
			<div class="ui container" style="margin-top: 3em;">
				<input type="hidden" th:field="*{id}"/>
				<div class="ui text container">
					<h3 class="ui top attached block header">Edit Recipe Information</h3>
					<div class="ui attached segment">
						<div class="ui four column stackable equal width grid">
							<div class="column">
								<h5>Description</h5>
							</div>
							<div class="column">
								<div class="ui mini input">
									<input type="text" th:field="*{description}"/>
								</div>
							</div>
							<div class="column"></div>
							<div class="column"></div>
						</div>
	  				</div>
					<div class="ui attached segment">
						<div class="ui stackable equal width grid">
							<div class="column">
								<h5>Categories</h5>
							</div>
							<div class="column">
								<th:block th:each="category : ${recipe.categories}">
									<div class="ui bulleted list">
										<div class="item" th:text="${category.description}">category name</div>
									</div>
								</th:block>
							</div>
						</div>
	  				</div>
	  				<div class="ui bottom attached segment">
						<div class="ui four column stackable equal width grid">
							<div class="column">
								<h5>Prep time</h5>
							</div>
							<div class="column">
								<div class="ui mini input">
									<input type="text" th:field="*{prepTime}"/>
								</div>
							</div>
							<div class="column">
								<h5>Difficulity</h5>
							</div>
							<div class="column">
								<div class="ui mini select">
									<select th:field="*{difficulty}">
                                        <option th:each="difficultyValue : ${T(guru.springframework.spring5recipeapp.model.Difficulity).values()}"
                                                th:value="${difficultyValue.name()}"
                                                th:text="${difficultyValue.name()}"
                                        >val</option>
                                    </select>
<!-- 									<input type="text" th:field="*{difficulty}"/> -->
								</div>
							</div>
							
							<div class="column">
								<h5>Cooktime</h5>
							</div>
							<div class="column">
								<div class="ui mini input">
									<input type="text" th:field="*{cookTime}"/>
								</div>
							</div>
							<div class="column">
								<h5>Serving</h5>
							</div>
							<div class="column">
								<div class="ui mini input">
									<input type="text" th:field="*{servings}"/>
								</div>
							</div>
							<div class="column">
								<h5>Source</h5>
							</div>
							<div class="column">
								<div class="ui mini input">
									<input type="text" th:field="*{source}"/>
								</div>
							</div>
							<div class="column">
								<h5 class="middle aligned">URL</h5>
							</div>
							<div class="column">
								<div class="ui mini input">
									<input type="text" th:field="*{url}"/>
								</div>
							</div>
						</div>
	  				</div>
	  				<div class="ui hidden divider"></div>
					<div class="ui text container">
						<h3 class="ui top attached block header">Directions</h3>
						<div class="ui bottom attached segment">
							<div class="ui form">
								<div class="field">
									<textarea rows="3" th:field="*{directions}"></textarea>
								</div>
							</div>
						</div>
		  			</div>
					<div class="ui hidden divider"></div>
					<div class="ui text container">
						<h3 class="ui top attached block header">Notes</h3>
						<div class="ui bottom attached segment">
							<div class="ui form">
								<div class="field">
									<textarea rows="3" th:field="*{notes.recipeNotes}"></textarea>
								</div>
							</div>
						</div>
		  			</div>
		  			<div class="ui hidden divider"></div>
	  				<button type="submit" class="ui button">Submit</button>
				</div>
			</div>
		</form>
	</body>
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.js"></script>
		
</html>