<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Recipe Home</title>
		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.css">
	</head>
	<body>
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.js"></script>
		<div class="ui container" style="margin-top: 3em;">
			<div class="ui text container">
				<h3 class="ui top attached block header" th:text="${recipe.description}">Description</h3>
				<div class="ui bottom attached segment">
					<div class="ui stackable equal width grid">
						<div class="column">
							<h5>Categories</h5>
						</div>
						<div class="column">
							<th:block th:each="category : ${recipe.categories}">
								<div class="ui bulleted list">
									<div class="item" th:text="${category.description}">category name</div>
								</div>
							</th:block>
						</div>
					</div>
    					
  				</div>
			</div>
		</div>
	</body>
</html>