<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Ingredients</title>
		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.css">
	</head>
	<body>
		<div class="ui container" style="margin-top: 3em;">
			<div class="ui text container">
				<h2 class="ui dividing header">Ingredients
					<a class="item" href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/new'}"><button class="ui mini right floated button">New</button></a>
				</h2>
				<table class="ui selectable celled table">
  					<thead>
  						<tr>
	  						<th>ID</th>
	  						<th>Description</th>
	  						<th>View</th>
	  						<th>Update</th>
	  						<th>Delete</th>
  						</tr>
  					</thead>
  					<tbody>
  						<th:block th:each="ingredient : ${recipe.ingredients}">
  							<tr>
  								<td th:text="${ingredient.id}">id</td>
  								<td th:text="${ingredient.description}">desc</td>
  								<td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/show'}">View</a></td>
  								<td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/update'}">Update</a></td>
  								<td><a href="#" th:href="@{'/recipe/' + ${recipe.id} + '/ingredient/' + ${ingredient.id} + '/delete'}">Delete</a></td>
  							</tr>
  						</th:block>
  					</tbody>
				</table>
			</div>
		</div>
	</body>
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.js"></script>
	
</html>
</html>