<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Recipe Home</title>
		
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.css">
	</head>
	<body>
		<div class="ui container" style="margin-top: 3em;">
			<div class="ui text container">
				<h3 class="ui top attached block header">Ingredient</h3>
				<div class="ui bottom attached segment">
					<div class="ui four column stackable equal width grid">
						<div class="column">
							<h5>Id</h5>
						</div>
						<div class="column">
							<p th:text="${ingredient.id}">ingredient id</p>
						</div>
						<div class="column">
							<h5>Description</h5>
						</div>
						<div class="column">
							<p th:text="${ingredient.description}">ingredient description</p>
						</div>
					</div>
  				</div>
			</div>
			<div class="ui hidden divider"></div>
		</div>
	</body>
	
	<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.3.0/dist/semantic.min.js"></script>
	
</html>